/**  DEFINE FONTS **/

@font-face {
font-family:material;
src: url('../fonts/Material.ttf');
}

@font-face {
font-family:pepsi;
src: url('../fonts/Pepsi.ttf');
}

@font-face {
font-family:sony;
src: url('../fonts/sonySketch.ttf');
}

/** BASIC STYLE **/

a, a:hover {
text-decoration:none;
}

.display-inline {
display:inline-block;
}

/** BODY STYLE **/

body{
margin:0;
padding:0;
min-width:800px;
min-height:480px;
}

header {
display:block;
width:100%;
text-align:center;
font-family:sony;
background:grey;
font-size:100px;
line-height:100px;
background:;
color:#333;
box-shadow:0px 1px 5px 1px #000;
z-index:5;

}

header div{
display:block;
height:50px;
line-height:60px;
color:grey;
font-family:pepsi;
font-size:18px;
background:#333;
}

.content {
font-family:material;
width:100%;
}

.content h2{
width:200px;
text-align:center;
margin:25% auto;
text-shadow:
-150px -100px 4px #efefef,
150px -100px 4px #efefef,
-150px 100px 4px #efefef,
250px 0px 4px #efefef,
-250px 0px 4px #efefef,
150px 100px 4px #efefef;
}


/**
* FOOTER
**/

footer {
width:100%;
height:170px;
text-align:center;
color:grey;
background:#333;
box-shadow:0px -1px 5px 1px #000;
padding-top:50px;
}

footer a {
color:grey;
}

footer div {
margin-top:60px;
}

footer div span{
display:inline-block;
padding:5px;
}

footer div #l{
float:left;
width:50%;
text-align:left;
}

footer div #r{
float:right;
width:50%;
text-align:right;
}



